.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.navlist{
	padding-left: 20px;
}
.navlist li{
	list-style: none;
	margin-bottom: 20px;
	font-size: 1.4em;
	position: relative;
}
body{
	background: #1BA881; /*#ED1C24; /* #49AFD6 #1BA881 #DB4C4C  */
}
header{
	margin: 40px 0 60px;
}
h1{	
	font-family: 'Josefin Sans', sans-serif;
	font-size: 72px;
	color: #E5E7D1;
	font-weight: 700;
}
h2{
	clear: both;
	color: #19473B;
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	color: #E5E7D1;
	margin-top: 0;

}
h3{
	font-family: 'Roboto Slab', serif;
	font-weight: 300;	
	color: #E5E7D1;
}
pre{
	font-size: 22px;
	line-height: 30px;
	background: #199472;
	border-radius: 3px;
	padding: 35px;
	text-align: left;
}
.code-class{
	color: #4C3368;
}
.code-id{
	color: #92183F;
}
.bubble{
	display: none;
}
.headline{
	position: relative;
}
.explanation{
	margin-top: 60px;
}
.intro{
	font-size: 33px;
	line-height: 48px;
}
.txt {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	color: #19473B;
	font-size: 25px;
	line-height: 35px;
}
.txt a, footer a{
	color: #326F5F;
}
.test{
	width: 200px;
	height: 200px;
	background: red;
}
.nav-toggler{
	cursor: pointer;
}
.nav-toggler:before{
	font-size: 30px;
	position: relative;
	left: -4px;
	top: 4px;
}
.notify{
	position: absolute;
	top: -7px;
	left: -7px;
	z-index: 200;
	background: #DB4C4C;
	border-radius: 100%;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	color: white;
	font-size: 10px;
	font-family: Arial;
	font-weight: bold;
}
li a {
	padding-left: 10px;
	color: #ccc;
	text-decoration: none;
}
li:hover{
	color: #F3F3F3;
}
li:hover:before{
	color: #F3F3F3;
	text-shadow: 0 0 3px #1BA881;
}
.search-input{
	background: #3A3F3D;
	border: 1px solid #3A3F3D;
	border-radius: 4px;
	position: relative;
	margin-left: 10px;
	padding-left: 10px;
	width: 200px;
}
.btn{
	background: #195F74;
	margin: 20px;
	text-align: center;
	line-height: 30px;
	border-radius: 3px;
	display: block;
	padding: 5px 20px;
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	text-decoration: none;
	font-size: 18px;
	color: #E5E1AA;
}
a.btn{
	color: #E5E1AA;
}
.btn:hover{
	background: #186880;
}
footer{
	margin: 60px 0 20px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #124E3B;
	border-top: 1px solid;
	padding-top: 20px;
	line-height: 24px;
}
/* These styles are for this demo only: override them from the scss/less styles using the variables! */
.main-nav{
	background: #2E3331;
	height: 65px;
}
.page-content{
	padding: 0 10px;
	text-align: center;
}
@media only screen and (min-width:770px){
	.page-content{
		padding: 0 60px;
		text-align: left;
	}
	.main-nav{
		width: 60px;
		height: 100% !important;
		box-shadow: -12px 0 12px -4px #222 inset;
	}
	.nav-moonwalk-full .page-content{
		-webkit-transform: translateX( 240px );
		-moz-transform: translateX( 240px );
		-ms-transform: translateX( 240px );
		-o-transform: translateX( 240px );
		transform: translateX( 240px );
	}
	.nav-moonwalk-full .main-nav{
			width: 300px;			
	}
	h1{	
		font-size: 100px;
		text-shadow: 3px 7px #1BA881, 6px 5px #E5E7D1; /* 1px 1px #1BA881, 2px 2px #E5E7D1; /* 11px 1px #1BA881, 2px 2px #E5E7D1 , 21px 1px #1BA881, 2px 2px #E5E7D1 */
		display: inline-block;
		float: left;
		margin-bottom: 0px;
	}
	.bubble {
		position: relative;
		width: 159px;
		height: 80px;
		padding: 0px;
		background: #DB4C4C;
		border-radius: 10px;
		box-shadow: 12px 12px #1A9977;
		display: inline-block;
		float: left;
		margin-top: 5px;
		-webkit-transform: rotate(13deg) translateY(0);
		-moz-transform: rotate(13deg);
		-o-transform: rotate(13deg);
		transform: rotate(13deg);
		-webkit-transition: all 2s;
		-webkit-animation: floating alternate infinite 2s;
		/*txt*/
		color: #19473B;
		font-family: 'Roboto Slab', serif;
		font-weight: 300;
		color: #E5E7D1;
		line-height: 23px;
		text-align: center;
	}

	.bubble:after, .bubble:before {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 0 30px 30px;
		border-color: transparent transparent transparent #DB4C4C;
		display: block;
		width: 0;
		z-index: 1;
		bottom: -25px;
		left: 25px;
	}
	.bubble:before {
		border-color: transparent transparent transparent #1A9977;
		bottom: -30px;
		left: 45px;
	}
	@-webkit-keyframes floating{
		to{
			-webkit-transform: rotate(13deg) translateY(20px);
		}
	}
	@-moz-keyframes floating{
		to{
			-moz-transform: rotate(13deg) translateY(20px);
		}		
	}
	@-o-keyframes floating{
		to{
			-o-transform: rotate(13deg) translateY(20px);
		}		
	}
	@keyframes floating{
		to{
			transform: rotate(13deg) translateY(20px);
		}		
	}
	.btn{
		display: inline-block;
		float: left;
		margin-left: 0;
		padding: 8px 25px;
	}
}

@media only screen and (min-width:910px){
	h1{	
		font-size: 132px;
	}
	.bubble{
		margin-top: 20px;
	}
}

/* GH ribbon thanks to: https://github.com/simonwhitaker/github-fork-ribbon-css */
/* Left will inherit from right (so we don't need to duplicate code) */
.github-fork-ribbon {
  /* The right and left classes determine the side we attach our banner to */
  position: absolute;

  /* Add a bit of padding to give some substance outside the "stitching" */
  padding: 2px 0;

  /* Set the base colour */
  background-color: #a00;

  /* Set a gradient: transparent black at the top to almost-transparent black at the bottom */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));

  /* Add a drop shadow */
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);

  /* Set the font */
  font: 700 13px "Helvetica Neue", Helvetica, Arial, sans-serif;

  z-index: 9999;
  pointer-events: auto;
}

.github-fork-ribbon a,
.github-fork-ribbon a:hover {
  /* Set the text properties */
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  text-align: center;

  /* Set the geometry. If you fiddle with these you'll also need
     to tweak the top and right values in .github-fork-ribbon. */
  width: 200px;
  line-height: 20px;

  /* Set the layout properties */
  display: inline-block;
  padding: 2px 0;

  /* Add "stitching" effect */
  border-width: 1px 0;
  border-style: dotted;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.7);
}

.github-fork-ribbon-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 9999;
  pointer-events: none;
}

.github-fork-ribbon-wrapper.fixed {
  position: fixed;
}

.github-fork-ribbon-wrapper.left {
  left: 0;
}

.github-fork-ribbon-wrapper.right {
  right: 0;
}

.github-fork-ribbon-wrapper.left-bottom {
  position: fixed;
  top: inherit;
  bottom: 0;
  left: 0;
}

.github-fork-ribbon-wrapper.right-bottom {
  position: fixed;
  top: inherit;
  bottom: 0;
  right: 0;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
  top: 42px;
  right: -43px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.left .github-fork-ribbon {
  top: 42px;
  left: -43px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


.github-fork-ribbon-wrapper.left-bottom .github-fork-ribbon {
  top: 80px;
  left: -43px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.github-fork-ribbon-wrapper.right-bottom .github-fork-ribbon {
  top: 80px;
  right: -43px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* end of GH ribbon styles */

/* Icomoon styles
*/
@font-face {
	font-family: 'icomoon';
	src:url('../icons/font/icomoon.eot?-97dpsc');
	src:url('../icons/font/icomoon.eot?#iefix-97dpsc') format('embedded-opentype'),
		url('../icons/font/icomoon.woff?-97dpsc') format('woff'),
		url('../icons/font/icomoon.ttf?-97dpsc') format('truetype'),
		url('../icons/font/icomoon.svg?-97dpsc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-paperplane:before {
	content: "\e600";
}
.icon-feather:before {
	content: "\e601";
}
.icon-house:before {
	content: "\e60f";
}
.icon-search:before {
	content: "\e610";
}
.icon-tools:before {
	content: "\e60b";
}
.icon-megaphone:before {
	content: "\e60a";
}
.icon-moon3:before {
	content: "\e609";
}
.icon-new:before {
	content: "\e603";
}
.icon-book:before {
	content: "\e602";
}
.icon-rocket:before {
	content: "\e611";
}
.icon-earth:before {
	content: "\e60c";
}
.icon-code:before {
	content: "\e60d";
}
.icon-screen:before {
	content: "\e608";
}
.icon-pie:before {
	content: "\e614";
}
.icon-info:before {
	content: "\e615";
}
.icon-list:before {
	content: "\e60e";
}
.icon-text:before {
	content: "\e612";
}
.icon-flow-branch:before {
	content: "\e613";
}
.icon-github:before {
	content: "\e604";
}
.icon-github2:before {
	content: "\e605";
}
.icon-twitter:before {
	content: "\e606";
}
.icon-twitter2:before {
	content: "\e607";
}

